/* * {
	font-family: sans-serif;
} */

.nummer {
	text-align: right;
}

.error-head-text {
	font-size: large;
}

.logo img {
	margin: -15px 0;
	height: 2em;
	background-color: white;
}

footer {
	clear: both;
	border-top: 1px solid #888;
	padding: 0.5em;
	margin-top: 2em;
	font-size:  small;
	color: #555;
    white-space: pre;
}

ul.error-info {
	margin: 0;
	list-style: none;
}