// @use "sass:math";

// Result page specific colouring

$pdb_redo_color_1: #a3967f;
$pdb_redo_color_2: #d6c6aa;
$pdb_redo_color_3: #eeddbe;
$pdb_redo_color_4: #fff5e0;
$pdb_redo_color_5: #e8e3d9;

* {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #4D4D4D;
	margin: 0;
	padding: 0;
}

div.result {
	padding-bottom: 1em;
}

table {
	min-width: 685px;
	caption-side: top;
	border-collapse: collapse;

	&.c8 td {
		width: 12.5%;
	}

	&.c4 td {
		width: 25%;
	}

	&.c3 td {
		width: 40%;
	}

	&.c3 td+td {
		width: 30%;
	}
}

caption {
	padding: 5px;
	border-bottom: 1px solid $pdb_redo_color_3;
	color: black;
	background-color: $pdb_redo_color_5;
	font-weight: bold;
	font-size: large;
	text-align: left;
}

th {
	padding: 5px;
	border-bottom: 1px solid $pdb_redo_color_1;
	background-color: $pdb_redo_color_4;
	font-weight: bold;
	text-align: left;
}

td {
	padding: 5px;
	border-bottom: 1px solid $pdb_redo_color_2;
	;
}

td.c {
	text-align: center;
}

.ar {
	text-align: right;
}

td.worse {
	background-color: #ffa599;
}

td.better {
	background-color: #d5f5b5;
}

td.group {
	font-style: italic;
	padding-left: 1em;
}

.label {
	font-style: italic;
}

td+td.label {
	padding-left: 3em;
}

a {
	color: #3366cc;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

table.perc-raw-toggle {
	&.raw .perc-value {
		display: none;
	}

	&.perc .raw-value {
		display: none;
	}

	div.button-bar {
		display: inline-flex;
		background-color: $pdb_redo_color_4;
		border: 1px solid $pdb_redo_color_1;
		padding: 0;

		button {
			display: inline-block;
			border-style: none;
			display: inline-block;
			padding: 3px 6px;
			vertical-align: middle;
			overflow: hidden;
			text-decoration: none;
			color: inherit;
			background-color: inherit;
			text-align: center;
			cursor: pointer;
			white-space: nowrap
		}

		button + button {
			border-left: 1px solid $pdb_redo_color_1;
		}
	}

	&.perc button.perc,
	&.raw button.raw {
		background-color: $pdb_redo_color_2;
	}

	&.perc button.raw,
	&.raw button.perc {
		cursor: pointer;

		&:hover {
			background-color: $pdb_redo_color_1;
		}
	}

	.toggle {
		font-weight: normal;
	}
}

.warning {
	position: relative;
	float: left;
	border-bottom: 1px dotted black;

	.warningtext {
		visibility: hidden;
		background-color: #4d4d4d;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
		width: 300px;
		top: 100%;
		left: 50%;
		margin-left: -150px;
		position: absolute;
		z-index: 1;
	}

	&:hover .warningtext {
		visibility: visible;
	}
}

.box {
	border: 1px solid #ccc;
	padding: 0;
	min-width: 2em;
	margin-bottom: 1em;

	.titlebar {
		width: 100%;
		height: 2em;
		text-align: center;
		background-color: #ebebeb;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}
}

.hide {
	display: none;
}